In [ ]:
import pandas as pd
import csv
import json
import glob
from zipfile import ZipFile

with ZipFile('/content/data/json.zip', 'r') as zipObj:
  zipObj.extractall('data json')
  print('already unzipped')

already unzipped

In [ ]:
import os
json_dir = '/content/data json/json'
json_pattern = os.path.join(json_dir, '*.json')
file_list = glob.glob(json_pattern)

dfs = []
for file in file_list:
  with open(file) as f:
    json_data = pd.json_normalize(json.loads(f.read()))
    #json_data['site'] = file.rsplit("/", 1)[-1]
  dfs.append(json_data)
df = pd.concat(dfs)

print(df)

             sumber     tanggal  kategori  \
0    tribunnews.com  2015/12/09  Otomotif
1    tribunnews.com  2015/12/09  Otomotif
2    tribunnews.com  2015/12/09  Otomotif
3    tribunnews.com  2015/12/09  Otomotif
4    tribunnews.com  2015/12/09  Otomotif
..              ...         ...       ...
510      viva.co.id  2015/10/10      Bola
511      viva.co.id  2015/10/10      Bola
512      viva.co.id  2015/10/10      Bola
513      viva.co.id  2015/10/10      Bola
514      viva.co.id  2015/10/10      Bola

                                                 judul  \
0    Jelang Tutup Tahun, Diler Mobil Sebar Diskon H...
1          Tabir Harga SUV Maserati Dibuka Tahun Depan
2        Tampang Skutik Honda Air Blade Dirombak Total
3    Sinarmas Hana Finance Incar Mobil Bekas Ekspat...
4    Orang Kaya di Indonesia Terintimidasi Harga Ha...
..                                                 ...
510  Tampil di Solo, Arema Bakal Berstatus 'Tuan Ru...
511  Balotelli Gerah Diisukan Kencani Wanita Seksi Ini
512  Bakal Diintimidasi Bobotoh, Bek Mitra Kukar Ta...
513  Anekdot Hobi Aneh Klopp dan Slogan YNWA Liverpool
514  Persib Hadapi Partai Hidup Mati dengan Kekuata...

                                                   isi  \
0    TRIBUNNEWS.COM, JAKARTA  Menjelang tutup tahun...
1    TRIBUNNEWS.COM, BOLOGNA  Sport Utility Vehicle...
2    TRIBUNNWS.COM  Skutik berbadan bongsor dari Ho...
3    TRIBUNNEWS.COM, JAKARTA  PT Sinarmas Hana Fina...
4    TRIBUNNEWS.COM, JAKARTA  Belakangan, harga sep...
..                                                 ...
510  VIVA.co.id - Arema Cronus diprediksi akan mend...
511  VIVA.co.id - Striker AC Milan, Mario Balotelli...
512  VIVA.co.id - Tugas berat akan diemban oleh bek...
513  VIVA.co.id - Lagu "You'll Never Walk Alone" at...
514  VIVA.co.id - Persib Bandung akan tampil dengan...

                                                  link  jumlahkata
0    http://www.tribunnews.com/otomotif/2015/12/09/...         205
1    http://www.tribunnews.com/otomotif/2015/12/09/...         132
2    http://www.tribunnews.com/otomotif/2015/12/09/...         299
3    http://www.tribunnews.com/otomotif/2015/12/09/...         161
4    http://www.tribunnews.com/otomotif/2015/12/09/...         233
..                                                 ...         ...
510  http://bola.viva.co.id/news/read/685364-tampil...         238
511  http://bola.viva.co.id/news/read/685304-balote...         226
512  http://bola.viva.co.id/news/read/685359-bakal-...         203
513  http://bola.viva.co.id/news/read/685249-anekdo...         171
514  http://bola.viva.co.id/news/read/685354-persib...         231

[150466 rows x 7 columns]

In [ ]:
df.to_csv('valid news.csv')
print(df)

file = open('/content/valid news.csv')

# Buang kolom yang tidak diperlukan
df = pd.read_csv(file, usecols = ['judul','link'])
print(df)

df.to_csv('Valid News.csv')
print(df)